<div class="card mb-5" style="width: 18rem;">
    <div class="pb-3 border-bottom bg-primary text-white">
        <p class="pl-4 pt-2">
            Name
        </p>
        <div class="pl-4">
            <img src="https://img.icons8.com/ios-filled/50/000000/group-background-selected.png"><span
                class="pl-2">Employee</span>
        </div>
    </div>
    <ul class="list-group list-group-flush border-bottom">
        <li class="list-group-item">ID</li>
        <li class="list-group-item"><a
                href="mailto:Email">ShowEmail</a></li>
        <li class="list-group-item">Title</li>
    </ul>
</div>