<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Employee Summary</title>

    <style>
        body {
        font-family: 'Bebas Neue', cursive;
        }
    </style>
</head>

<body class="bg-secondary">

    <div class="jumbotron jumbotron-fluid bg-primary">
        <div class="container justify-content-center">
            <h1 class="display-4 text-center">My Team</h1>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-between">
            <!-- Manger -->

            <!-- Engineer -->

            <!-- Employee -->

            <!-- Intern -->
            
            <!-- Add closing body and html tag to final file -->
   <div class="card mb-5" style="width: 18rem;">
    <div class="pb-3 border-bottom bg-primary text-white">
        <p class="pl-4 pt-2">
            Kelsie
        </p>
        <div class="pl-4">
            <img src="https://img.icons8.com/ios/50/000000/coffee.png"><span class="pl-2">Manager</span>
        </div>
    </div>
    <ul class="list-group list-group-flush border-bottom">
        <li class="list-group-item">Id: 77</li>
        <li class="list-group-item"><a
                href="mailto:kelsie@test.com">Email: kelsie@test.com</a></li>
        <li class="list-group-item">OfficeNumber: 23</li>
    </ul>
</div><div class="card mb-5" style="width: 18rem;">
    <div class="pb-3 border-bottom bg-primary text-white">
        <p class="pl-4 pt-2">
            Johnny 
        </p>
        <div class="pl-4">
            <img src="https://img.icons8.com/ios/50/000000/glasses.png"><span class="pl-2">Engineer</span>
        </div>
    </div>
    <ul class="list-group list-group-flush border-bottom">
        <li class="list-group-item">Id: 77</li>
        <li class="list-group-item"><a
                href="mailto:kelsie@test.com">Email: kelsie@test.com</a></li>
        <li class="list-group-item">Github: john@github.com</li>
    </ul>
</div></body></html><div class="card mb-5" style="width: 18rem;">
    <div class="pb-3 border-bottom bg-primary text-white">
        <p class="pl-4 pt-2">
            kelsie
        </p>
        <div class="pl-4">
            <img src="https://img.icons8.com/ios/50/000000/coffee.png"><span class="pl-2">Manager</span>
        </div>
    </div>
    <ul class="list-group list-group-flush border-bottom">
        <li class="list-group-item">Id: 77</li>
        <li class="list-group-item"><a
                href="mailto:kelsie@test.com">Email: kelsie@test.com</a></li>
        <li class="list-group-item">OfficeNumber: 23</li>
    </ul>
</div><div class="card mb-5" style="width: 18rem;">
    <div class="pb-3 border-bottom bg-primary text-white">
        <p class="pl-4 pt-2">
            Baker
        </p>
        <div class="pl-4">
            <img src="https://img.icons8.com/pastel-glyph/64/000000/graduation-cap.png"><span
                class="pl-2">Student</span>
        </div>
    </div>
    <ul class="list-group list-group-flush border-bottom">
        <li class="list-group-item">Id: 77</li>
        <li class="list-group-item"><a
                href="mailto:kelsie@test.com">Email: kelsie@test.com</a></li>
        <li class="list-group-item">School: Elon University</li>
    </ul>
</div></body></html>
