<div class="card mb-5" style="width: 18rem;">
    <div class="pb-3 border-bottom bg-primary text-white">
        <p class="pl-4 pt-2">
            ManagerName
        </p>
        <div class="pl-4">
            <img src="https://img.icons8.com/ios/50/000000/coffee.png"><span class="pl-2">Manager</span>
        </div>
    </div>
    <ul class="list-group list-group-flush border-bottom">
        <li class="list-group-item">ID</li>
        <li class="list-group-item"><a
                href="mailto:Email">ShowEmail</a></li>
        <li class="list-group-item">OfficeNumber</li>
    </ul>
</div>